/* Free Cycle Mapper, Portland, Oregon
 *
 * ~ the ORIGINAL Free Cycle Mapper
 *
 * Conceived by Patti Lavelle
 * Development by William Clifford, Faye Purdum, and Cris Kelly in Feb 2013
 *
 * For information on creating your an FCM in your area, contact {...}
*/

/* FONTS STYLES ============================== */

@font-face {
font-family: Aaargh;
src: url('/assets/Aaargh.ttf');
}
h3 {
  text-align: center;

}

/* LAYOUT STYLES ============================== */

header a, h1, section, aside, #logo, #icons, #icons img {
  float: left;
}
h1, h2, h3, p, a {
  font-family: Aaargh;
}

/* HEADER STYLES ============================== */

header {
  margin: 10px 0 0 25px;
}
h1 {
  margin: 25px 0 50px 50px;
  color: green;
}
#icons {
  width: 100px;
}
#icons img {
  max-width: 100%;
}

/* MAIN SECTION STYLES ========================= */

section {
  clear: both;
  width: 70%;
  margin-top: -30px;
}

/* MAP PORTION OF THE BODY ====================== */

#map_canvas {
  height: 100%
}
h2 {
  font-size: 1.2em;
  margin: 15px 0 0;
}

/* ASIDE STYLES ================================= */

aside {
  width: 30%;
  padding-top: 8px;
}


/* FILTER FORM STYLES ================================= */

aside #form-title {
  font-size: 2em;
}

/* POST-LIST SPECIFIC STYLES ====================
  (tabs styles are in the tabs.css file) ======= */

.display-list {
  height: 417px;
  overflow: auto;
}
#content ul {
  margin: 0 0 0 10px;
}
.display-list a {
  padding: 5px 0;
}
.display-list li {
  margin-bottom: 5px;
}
.display-list h3 {
  color: green;
  border-top: 1px solid;
  padding-top: 10px;
}
.posts {
  clear: both;
  position: relative;
}
.posts:hover {
  opacity: .7;
}
.post {
  display: inline-block;
  width: 100%;
}
.post:hover {
  text-decoration: none;
}
.post-icons, i, .post {
  float: left;
}
.post-icons {
  position: absolute;
  right: 0;
}
.post-div {
  width: 50%;
}

/* FOOTER STYLES ================================ */

footer {
  clear: both;
  text-align: center;
  height: 150px;
}
.freecycle-logo {
  padding-top: 30px;
}



